$section-divider-colour: #efefed;

$admonition-content-color: #777;
$admonition-note-color: green;
$admonition-warning-color: #bb5f18;
$admonition-caution-color: #bf0000;
$admonition-important-color: #243446;


/**
 * Thanks, asciidoctor!
 */
// Asciidoctor's admonition stuff
.admonitionblock > table {
    border-collapse: separate;
    border: 0;
    background: none;
    width: 100%;
    margin-top: 1.8em;
    margin-bottom: 1.8em;
}
.admonitionblock > table td.icon {
    text-align: center;
    width: 80px;
}
.admonitionblock > table td.icon img {
    max-width: none;
}
.admonitionblock > table td.icon .title {
    font-weight: bold;
    text-transform: uppercase;
}
.admonitionblock > table td.content {
    padding-left: 1.125em;
    padding-right: 1.5em;
    border-left: 1px solid $section-divider-colour;
    color: $admonition-content-color;
}
.admonitionblock > table td.content >:last-child >:last-child {
    margin-bottom: 0;
}

td.content {
    padding-left: 1.125em;
    padding-right: 1.5em;

    & > :last-child > :last-child {
      margin-bottom: 0;
    }
}

// Asciidoctor font-awesome stuff
span.icon > .fa {
  cursor: default;
}

.admonitionblock td.icon {
  [class^="fa icon-"] {
    font-size: 2.5em;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
    cursor: default;
  }

  .icon-note:before {
    content: "\f05a";
    //color: scale-color($primary-color, $lightness: $rainbow-lightness);
    color: $admonition-note-color;
  }

  .icon-tip:before {
    content: "\f0eb";
    text-shadow: 1px 1px 2px rgba(155, 155, 0, .8);
    color: #111;
  }

  .icon-warning:before {
    content: "\f071";
    //color: scale-color(darkorange, $lightness: $rainbow-lightness);
    color: $admonition-warning-color;
  }

  .icon-caution:before {
    content: "\f06d";
    //color: scale-color(orangered, $lightness: $rainbow-lightness);
    color: $admonition-caution-color;
  }

  .icon-important:before {
    content: "\f06a";
    //color: scale-color(red, $lightness: $rainbow-lightness);
    color: $admonition-important-color;
  }
}

.conum[data-value] {
  display: inline-block;
  color: #fff !important;
  //background-color: $body-font-color;
  //@include radius(100px);
  text-align: center;
  font-size: 0.75em;
  width: 1.67em;
  height: 1.67em;
  line-height: 1.67em;
  font-style: normal;
  font-weight: bold;

  & * {
    color: #fff !important;
  }

  & + b {
    display: none;
  }

  &:after {
    content: attr(data-value);
  }

  pre & {
    position: relative;
    top: -0.125em;
  }
}

// hack to disallow syntax highlighting from changing the color
b.conum * {
  color: inherit !important;
}

// hack for when highlight.js adds a bogus element into DOM
// QUESTION should we solve this w/ javascript instead?
.conum:not([data-value]):empty {
  display: none;
}

// Dividers between sections
.sect1+.sect1 {
    border-top: 1px solid $section-divider-colour;
}

// Table stuff
$table-head-font-weight: bold;
$table-head-font-size: inherit;
$table-head-font-color: inherit;
$table-row-font-size: inherit;
$table-line-height: 1.6;
$table-head-bg: #f7f8f7;
$table-even-row-bg: #f8f8f7;
$table-border-color: #dedede;
$table-border-size: 1px;
$table-display: table-cell;

table.tableblock {
  // QUESTION should this be any last-child?
  td > .paragraph:last-child p,
  th, td {
    & > p:last-child {
      margin-bottom: 0;
    }
  };
  
  margin-bottom: 2em;
  margin-top: 2em;
}

table.spread {
  width: 100%;
}

// NOTE .grid-* selectors must be defined before .frame-* selectors in order for styles to cascade properly
table.tableblock,
th.tableblock,
td.tableblock {
  border: 1px solid $table-border-color;

  max-width: 100%;
  border-collapse: separate;
  padding-top: 0.5em;
  padding-right: 0.625em;
  padding-bottom: 0.625em;
  padding-left: 0.625em;

}

table.tableblock tr:nth-child(even) {
  background: $table-even-row-bg;
}

table.grid-all th.tableblock,
table.grid-all td.tableblock {
  border-width: 0 $table-border-size $table-border-size 0;
}

table.grid-all tfoot > tr > th.tableblock,
table.grid-all tfoot > tr > td.tableblock {
  border-width: $table-border-size $table-border-size 0 0;
}

table.grid-cols th.tableblock,
table.grid-cols td.tableblock {
  border-width: 0 $table-border-size 0 0;
}

table.grid-all * > tr > .tableblock:last-child,
table.grid-cols * > tr > .tableblock:last-child {
  border-right-width: 0;
}

table.grid-rows th.tableblock,
table.grid-rows td.tableblock {
  border-width: 0 0 $table-border-size 0;
}

table.grid-all tbody > tr:last-child > th.tableblock,
table.grid-all tbody > tr:last-child > td.tableblock,
table.grid-all thead:last-child > tr > th.tableblock,
table.grid-rows tbody > tr:last-child > th.tableblock,
table.grid-rows tbody > tr:last-child > td.tableblock,
table.grid-rows thead:last-child > tr > th.tableblock {
  border-bottom-width: 0;
}

table.grid-rows tfoot > tr > th.tableblock,
table.grid-rows tfoot > tr > td.tableblock {
  border-width: $table-border-size 0 0 0;
}

table.frame-all {
  border-width: $table-border-size;
}

table.frame-sides {
  border-width: 0 $table-border-size;
}

table.frame-topbot {
  border-width: $table-border-size 0;
}

@each $halign in (left, right, center) {
  th.halign-#{$halign},
  td.halign-#{$halign} {
    text-align: $halign;
  }
}

@each $valign in (top, bottom, middle) {
  th.valign-#{$valign},
  td.valign-#{$valign} {
    vertical-align: $valign;
  }
}

// NOTE Fix required in Foundation, user-agent stylesheet is overriding
table thead th,
table tfoot th {
  font-weight: $table-head-font-weight;
  background: $table-head-bg;
}

// vertical table header (block)
tbody tr th {
  display: $table-display;
  line-height: $table-line-height;
  background: $table-head-bg;
}

// vertical table header (content)
tbody tr th,
tfoot tr th {
  &, p {
    color: $table-head-font-color;
    font-weight: $table-head-font-weight;
  }
}

p.tableblock > code:only-child {
  background: none;
  padding: 0;
}

p.tableblock {
  font-size: 1em;
}

td > div.verse {
  white-space: pre;
}
