$section-divider-colour: #efefed;

$admonition-content-color: #777;
$admonition-note-color: green;
$admonition-warning-color: #bb5f18;
$admonition-caution-color: #bf0000;
$admonition-important-color: #243446;


/**
 * Thanks, asciidoctor!
 */
// Asciidoctor's admonition stuff
.admonitionblock > table {
    border-collapse: separate;
    border: 0;
    background: none;
    width: 100%;
    margin-top: 1.8em;
    margin-bottom: 1.8em;
}
.admonitionblock > table td.icon {
    text-align: center;
    width: 80px;
}
.admonitionblock > table td.icon img {
    max-width: none;
}
.admonitionblock > table td.icon .title {
    font-weight: bold;
    text-transform: uppercase;
}
.admonitionblock > table td.content {
    padding-left: 1.125em;
    padding-right: 1.5em;
    border-left: 1px solid $section-divider-colour;
    color: $admonition-content-color;
}
.admonitionblock > table td.content >:last-child >:last-child {
    margin-bottom: 0;
}

td.content {
    padding-left: 1.125em;
    padding-right: 1.5em;

    & > :last-child > :last-child {
      margin-bottom: 0;
    }
}

// Asciidoctor font-awesome stuff
span.icon > .fa {
  cursor: default;
}

.admonitionblock td.icon {
  [class^="fa icon-"] {
    font-size: 2.5em;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
    cursor: default;
  }

  .icon-note:before {
    content: "\f05a";
    //color: scale-color($primary-color, $lightness: $rainbow-lightness);
    color: $admonition-note-color;
  }

  .icon-tip:before {
    content: "\f0eb";
    text-shadow: 1px 1px 2px rgba(155, 155, 0, .8);
    color: #111;
  }

  .icon-warning:before {
    content: "\f071";
    //color: scale-color(darkorange, $lightness: $rainbow-lightness);
    color: $admonition-warning-color;
  }

  .icon-caution:before {
    content: "\f06d";
    //color: scale-color(orangered, $lightness: $rainbow-lightness);
    color: $admonition-caution-color;
  }

  .icon-important:before {
    content: "\f06a";
    //color: scale-color(red, $lightness: $rainbow-lightness);
    color: $admonition-important-color;
  }
}

.conum[data-value] {
  display: inline-block;
  color: #fff !important;
  //background-color: $body-font-color;
  //@include radius(100px);
  text-align: center;
  font-size: 0.75em;
  width: 1.67em;
  height: 1.67em;
  line-height: 1.67em;
  font-style: normal;
  font-weight: bold;

  & * {
    color: #fff !important;
  }

  & + b {
    display: none;
  }

  &:after {
    content: attr(data-value);
  }

  pre & {
    position: relative;
    top: -0.125em;
  }
}

// hack to disallow syntax highlighting from changing the color
b.conum * {
  color: inherit !important;
}

// hack for when highlight.js adds a bogus element into DOM
// QUESTION should we solve this w/ javascript instead?
.conum:not([data-value]):empty {
  display: none;
}

// Dividers between sections
.sect1+.sect1 {
    border-top: 1px solid $section-divider-colour;
}
