// Admonition blocks
span.icon > .fa {
  cursor: default;
}

.admonitionblock td.icon {
  text-align: center;
  width: 80px;
}

.admonitionblock td.icon [class^="fa icon-"] {
  font-family: "bootstrap-icons";
  font-size: 2em;
  //text-shadow: 1px 1px 2px rgba(0,0,0,.5);
  cursor: default;
}
.admonitionblock td.icon .icon-note:before {
  font-style: normal;
  font-family: "bootstrap-icons";
  content: "\F430"; // https://icons.getbootstrap.com/icons/info-circle-fill/
  color: #19407c;
}
.admonitionblock td.icon .icon-tip:before {
  font-style: normal;
  font-family: "bootstrap-icons";
  content: "\F46B"; // https://icons.getbootstrap.com/icons/lightbulb/
  //text-shadow: 1px 1px 2px rgba(155,155,0,.8);
  color: #111;
}
.admonitionblock td.icon .icon-warning:before {
  font-style: normal;
  font-family: "bootstrap-icons";
  content: "\F335";
  color: #bf6900;
}
.admonitionblock td.icon .icon-caution:before {
  font-style: normal;
  font-family: "bootstrap-icons";
  content: "\F33B"; // https://icons.getbootstrap.com/icons/exclamation-triangle/
  color: #bf3400;
}
.admonitionblock td.icon .icon-important:before {
  font-style: normal;
  font-family: "bootstrap-icons";
  content: "\f335";
  color: #bf0000;
}

// Circle callouts for code blocks
.conum[data-value] {
  display: inline-block;
  color: #fff !important;
  background: rgba(0,0,0,.8);
  -webkit-border-radius: 1em;
  border-radius: 1em;
  text-align: center;
  font-size: .75em;
  width: 1.67em;
  height: 1.67em;
  line-height: 1.67em;
  font-family: "Open Sans", "DejaVu Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
}
.conum[data-value] * {
  color: #fff !important;
}
.conum[data-value] + b {
  display: none;
}
.conum[data-value]::after {
  content: attr(data-value);
}
pre .conum[data-value] {
  position: relative;
  top: -.125em;
}
b.conum * {
  color: inherit !important;
}
.conum:not([data-value]):empty {
  display: none;
}

// Sidebarblock (**** block)

.sidebarblock {
  width: 100%;
  background-color: #f3f3f3; // Same as hljs
  filter: drop-shadow(0 0 0.1rem var(--apiman-bg-blue-hover));
  border-radius: 0.375rem;
  padding: 1rem !important;
  margin-bottom: 1em;

  p:last-of-type {
    margin-bottom: 0;
  }
}

.admonitionblock table {
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 1rem;
  width: 100%;

  //color: white;
  border-collapse: separate;
  background-color: #f3f3f3; // Same as hljs
  filter: drop-shadow(0 0 0.1rem var(--apiman-bg-blue-hover));
  border-radius: 0.375rem;

  p:last-of-type {
    margin-bottom: 0;
  }

  margin-bottom: 1em;

  a {
    //color: white;
  }
}
