ol.tag-list, ul.tag-list {
  padding-left: 1.1em !important;

  // Change icon before li to https://icons.getbootstrap.com/icons/tag-fill/
  li::marker {
    font-family: "bootstrap-icons";
    content: "\F5AF"; // bi tag-fill
    color: var(--apiman-light-faded);
  }
}

// Remove excess padding from last paragraph in blog item cards (Asciidoctor output)
.no-padding-last-para-asciidoctor.card-body  {
  .paragraph:last-of-type > p {
    margin-bottom: 0;
  }
  &:hover {
    cursor: pointer;
  }
}

.blog-content img {
  max-width: 100%;
  height: auto;
  margin-bottom: 1em;
}
