ol.tag-list, ul.tag-list {
  padding-left: 1.1em !important;

  // Change icon before li to https://icons.getbootstrap.com/icons/tag-fill/
  li::marker {
    font-family: "bootstrap-icons";
    content: "\F5AF"; // bi tag-fill
    color: var(--apiman-light-faded);
  }
}
