@import "css-vars";

#apiman-navbar {
  background: var(--apiman-bg-blue);
  background: linear-gradient(180deg, rgba(36,52,70,1) 0%, rgba(36,74,102,1) 95%);
  border-top: 1px solid var(--apiman-red);
}

.nav-item {
  a {
    color: white;
  }

  a:hover {
    background-color: var(--apiman-bg-blue-hover);
    color: white;
  }

  &.active {
    font-weight: bold;
  }
}
