.blog-content {
  h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
    margin-bottom: 1.1rem !important;
  }

  p {
    margin-bottom: 1.3rem !important;
  }

  .admonitionblock {
    margin-top: 1.3rem;
    margin-bottom: 1.3rem;
  }
}
