<h3 class="text-muted mb-3">Next Steps</h3>
{% for resource in site.data.download.next-steps %}
  <div class="card mb-3" tabindex=0>
    <div class="card-body no-padding-last-para d-flex flex-column">
      <a href="{{ resource.url }}" class="header-link stretched-link">
        <h3 class="card-title h5"><i class="{{ resource.icon }} pe-1" role="presentation"></i>{{ resource.title }}</h3>
      </a>
      <div class="card-text flex-grow-1 pt-2">
        {{ resource.description }}
      </div>
    </div>
  </div>
{% endfor %}
