<!DOCTYPE html>
<html>
  {%- include head.html -%}
  <body class="blog">
    <div id="rhbar">
      <a class="jbdevlogo" href="http://www.jboss.org/projects/about" rel="nofollow" target="_blank"></a>
      <a class="rhlogo" href="http://www.redhat.com/" rel="nofollow" target="_blank"></a>
    </div>
    {%- include header.html -%}

    <div class="container" id="blog">
      <div class="blog-content">
        {{ content }}
      </div>
      <div class="blog-footer">
        {%- include footer.html -%}
      </div>
    </div>
  </body>
</html>
