---
layout: default
---
{%- assign author = site.data.authors[page.author] -%}

<div class="post">
  <header class="post-header" style="margin-top: 25px">
    <h1 style="color: #666; font-weight: bold" class="post-title section-header">{{ page.title }}</h1>
    <span style="color: #243446; font-size: 13px"><i class="fa fa-calendar"></i> {{ page.date | date: "%b %-d, %Y" }}</span>
    <span style="color: #243446; margin-left: 15px; font-size: 13px"><i class="fa fa-user"></i> <a href="{{author.github}}">{{ author.name }}</a></span>
    <span style="color: #243446; margin-left: 15px; font-size: 13px"><i class="fa fa-tags"></i> {{ page.categories | array_to_sentence_string }}</span>
  </header>


  {%- if page.newUrl -%}
    <!-- Old Post -->
    <p class="bg-warning"
       style="margin-top:15px; padding: 10px;">
        Note: A newer revision of this blogpost for <b>apiman 1.2.x</b> can be found <a href="
        {%- strip -%}
        {%- for post in site.posts -%}
              {%- assign postName = post.path | find_post_by_path -%}
              {%- if postName == page.newUrl -%}
                {{ site.url }}{{ site.baseurl }}{{ post.url }}
              {%- endif -%}
        {%- endfor -%}
        {%- endstrip -%}
           ">here</a>. This version was written for <b>apiman 1.1.x</b>.
    </p>
  {%- endif -%}

  {%- if page.oldUrl -%}
    <!-- New Post -->
    <p class="bg-warning"
       style="margin-top:15px; padding: 10px;">
        Note: This is a redux of our blogpost for <b>apiman 1.2.x</b>. If you're still using <b>apiman 1.1.x</b>, you can refer to the <a href="
        {%- for post in site.posts -%}
              {%- assign postName = post.path | find_post_by_path -%}
              {%- if postName == page.oldUrl -%}
                {{ site.url }}{{ site.baseurl }}{{ post.url }}
              {%- endif -%}
        {%- endfor -%}
        ">older revision</a>.
    </p>
  {%- endif -%}

  <article class="post-content"
           style="margin-top: 20px; font-size: 14px; line-height: 20px">
    {{ content | modify_external_links: "^.*?[.]?(apiman[.]io|localhost).*?" }}
  </article>

  {%- include disqus.html -%}
</div>
