---
layout: default
---
{% assign author = site.data.authors[page.author] %}

<div class="post">
  <header class="post-header" style="margin-top: 25px">
    <h1 style="color: #666; font-weight: bold" class="post-title section-header">{{ page.title }}</h1>
    <span style="color: #243446; font-size: 13px"><i class="fa fa-calendar"></i> {{ page.date | date: "%b %-d, %Y" }}</span>
    <span style="color: #243446; margin-left: 15px; font-size: 13px"><i class="fa fa-user"></i> <a href="{{author.github}}">{{ author.name }}</a></span>
    <span style="color: #243446; margin-left: 15px; font-size: 13px"><i class="fa fa-tags"></i> {{ page.categories | array_to_sentence_string }}</span>
  </header>

  {% if post.newUrl || post.oldUrl %}
  <div class="name-change-alert">
    <p>First step is working</p>
    {% if post.newUrl %}
    <p>It's an old post.</p>
      <!-- Old Post -->
    [apiman 1.2.x is available]({% post_url post.newUrl %})
      <p>NOTE: A newer revision of this blogpost correct for http://link.local[apiman 1.2.x is available]. This version written for apiman 1.1.x, for which it remains valid.</p>
    {% endif %}

    {% if post.oldUrl %}
    <p>It's a new post.</p>
      <!-- New Post -->
      <p>NOTE: This is a redux of our popular Keycloak OAuth2 for *apiman 1.2.x*. If you're still using apiman 1.1.x, you can refer to the http://blah.local[older revision].</p>
    {% endif %}
  </div>
  {% endif %}

  <article class="post-content" style="margin-top: 20px; font-size: 14px; line-height: 20px">
    {{ content }}
  </article>

</div>
