<nav id="top-nav" class="navbar navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="http://www.apiman.io/latest/index.html">apiman</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="top-menu-item menu-item active"><a href="http://www.apiman.io/latest/index.html">Overview</a></li>
        <li class="top-menu-item menu-item"><a href="http://www.apiman.io/latest/download.html">Download</a></li>
        <li class="top-menu-item menu-item"><a href="http://www.apiman.io/latest/roadmap.html">Roadmap</a></li>
        <li class="top-menu-item menu-item dropdown">
            <a href="https://www.patternfly.org/visual-styles/" class="dropdown-toggle" data-toggle="dropdown">Get Involved<b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li class="menu-item">
                    <a href="https://issues.jboss.org/browse/APIMAN">Report a Bug</a>
                </li>
                <li class="menu-item">
                    <a href="http://www.apiman.io/latest/chat.html">Chat on IRC</a>
                </li>
                <li class="menu-item">
                    <a href="https://twitter.com/apiman_io">Twitter Feed</a>
                </li>
                <li class="menu-item">
                    <a href="https://lists.jboss.org/mailman/listinfo/apiman-user">Mailing List</a>
                </li>
            </ul>
        </li>
        <li class="top-menu-item menu-item dropdown">
            <a href="https://www.patternfly.org/visual-styles/" class="dropdown-toggle" data-toggle="dropdown">Learn More<b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li class="menu-item">
                    <a href="http://www.apiman.io/latest/tutorials.html">Tutorials &amp; Walkthroughs</a>
                </li>
                <li class="divider"></li>
                <li class="menu-item">
                    <a href="http://www.apiman.io/latest/installation-guide.html">Installation Guide</a>
                </li>
                <li class="menu-item">
                    <a href="http://www.apiman.io/latest/user-guide.html">User Guide</a>
                </li>
                <li class="menu-item">
                    <a href="http://www.apiman.io/latest/developer-guide.html">Developer Guide</a>
                </li>
                <li class="divider"></li>
                <li class="menu-item">
                    <a href="http://www.apiman.io/latest/api-manager-restdocs.html">API Manager REST Endpoints</a>
                </li>
            </ul>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
