/**
 * Thanks, asciidoctor!
 */
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");
.admonitionblock > table {
  border-collapse: separate;
  border: 0;
  background: none;
  width: 100%;
  margin-top: 1.8em;
  margin-bottom: 1.8em; }

.admonitionblock > table td.icon {
  text-align: center;
  width: 80px; }

.admonitionblock > table td.icon img {
  max-width: none; }

.admonitionblock > table td.icon .title {
  font-weight: bold;
  text-transform: uppercase; }

.admonitionblock > table td.content {
  padding-left: 1.125em;
  padding-right: 1.5em;
  border-left: 1px solid #efefed;
  color: #777; }

.admonitionblock > table td.content > :last-child > :last-child {
  margin-bottom: 0; }

td.content {
  padding-left: 1.125em;
  padding-right: 1.5em; }
  td.content > :last-child > :last-child {
    margin-bottom: 0; }

span.icon > .fa {
  cursor: default; }

.admonitionblock td.icon [class^="fa icon-"] {
  font-size: 2.5em;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  cursor: default; }
.admonitionblock td.icon .icon-note:before {
  content: "\f05a";
  color: green; }
.admonitionblock td.icon .icon-tip:before {
  content: "\f0eb";
  text-shadow: 1px 1px 2px rgba(155, 155, 0, 0.8);
  color: #111; }
.admonitionblock td.icon .icon-warning:before {
  content: "\f071";
  color: #bb5f18; }
.admonitionblock td.icon .icon-caution:before {
  content: "\f06d";
  color: #bf0000; }
.admonitionblock td.icon .icon-important:before {
  content: "\f06a";
  color: #243446; }

.conum[data-value] {
  display: inline-block;
  color: #fff !important;
  text-align: center;
  font-size: 0.75em;
  width: 1.67em;
  height: 1.67em;
  line-height: 1.67em;
  font-style: normal;
  font-weight: bold; }
  .conum[data-value] * {
    color: #fff !important; }
  .conum[data-value] + b {
    display: none; }
  .conum[data-value]:after {
    content: attr(data-value); }
  pre .conum[data-value] {
    position: relative;
    top: -0.125em; }

b.conum * {
  color: inherit !important; }

.conum:not([data-value]):empty {
  display: none; }

.sect1 + .sect1 {
  border-top: 1px solid #efefed; }

span.icon > .fa {
  cursor: default; }

.admonitionblock td.icon [class^="fa icon-"] {
  font-size: 2.5em;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  cursor: default; }
.admonitionblock td.icon .icon-note:before {
  content: "\f05a";
  color: #9a221f; }
.admonitionblock td.icon .icon-tip:before {
  content: "\f0eb";
  text-shadow: 1px 1px 2px rgba(155, 155, 0, 0.8);
  color: #111; }
.admonitionblock td.icon .icon-warning:before {
  content: "\f071";
  color: #bf6900; }
.admonitionblock td.icon .icon-caution:before {
  content: "\f06d";
  color: #bf3400; }
.admonitionblock td.icon .icon-important:before {
  content: "\f06a";
  color: #bf0000; }

.conum[data-value] {
  display: inline-block;
  color: #fff !important;
  background-color: #555;
  border-radius: 100px;
  text-align: center;
  font-size: 0.75em;
  width: 1.67em;
  height: 1.67em;
  line-height: 1.67em;
  font-family: "Open Sans", "DejaVu Sans", sans-serif;
  font-style: normal;
  font-weight: bold; }
  .conum[data-value] * {
    color: #fff !important; }
  .conum[data-value] + b {
    display: none; }
  .conum[data-value]:after {
    content: attr(data-value); }
  pre .conum[data-value] {
    position: relative;
    top: -0.125em; }

b.conum * {
  color: inherit !important; }

.conum:not([data-value]):empty {
  display: none; }
