/**
 * Thanks, asciidoctor!
 */
.admonitionblock > table {
  border-collapse: separate;
  border: 0;
  background: none;
  width: 100%;
  margin-top: 1.8em;
  margin-bottom: 1.8em; }

.admonitionblock > table td.icon {
  text-align: center;
  width: 80px; }

.admonitionblock > table td.icon img {
  max-width: none; }

.admonitionblock > table td.icon .title {
  font-weight: bold;
  text-transform: uppercase; }

.admonitionblock > table td.content {
  padding-left: 1.125em;
  padding-right: 1.5em;
  border-left: 1px solid #efefed;
  color: #777; }

.admonitionblock > table td.content > :last-child > :last-child {
  margin-bottom: 0; }

td.content {
  padding-left: 1.125em;
  padding-right: 1.5em; }
  td.content > :last-child > :last-child {
    margin-bottom: 0; }

span.icon > .fa {
  cursor: default; }

.admonitionblock td.icon [class^="fa icon-"] {
  font-size: 2.5em;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  cursor: default; }
.admonitionblock td.icon .icon-note:before {
  content: "\f05a";
  color: green; }
.admonitionblock td.icon .icon-tip:before {
  content: "\f0eb";
  text-shadow: 1px 1px 2px rgba(155, 155, 0, 0.8);
  color: #111; }
.admonitionblock td.icon .icon-warning:before {
  content: "\f071";
  color: #bb5f18; }
.admonitionblock td.icon .icon-caution:before {
  content: "\f06d";
  color: #bf0000; }
.admonitionblock td.icon .icon-important:before {
  content: "\f06a";
  color: #243446; }

.conum[data-value] {
  display: inline-block;
  color: #fff !important;
  text-align: center;
  font-size: 0.75em;
  width: 1.67em;
  height: 1.67em;
  line-height: 1.67em;
  font-style: normal;
  font-weight: bold; }
  .conum[data-value] * {
    color: #fff !important; }
  .conum[data-value] + b {
    display: none; }
  .conum[data-value]:after {
    content: attr(data-value); }
  pre .conum[data-value] {
    position: relative;
    top: -0.125em; }

b.conum * {
  color: inherit !important; }

.conum:not([data-value]):empty {
  display: none; }

.sect1 + .sect1 {
  border-top: 1px solid #efefed; }

table.tableblock {
  margin-bottom: 2em;
  margin-top: 2em; }
  table.tableblock td > .paragraph:last-child p > p:last-child,
  table.tableblock th > p:last-child, table.tableblock td > p:last-child {
    margin-bottom: 0; }

table.spread {
  width: 100%; }

table.tableblock,
th.tableblock,
td.tableblock {
  border: 1px solid #dedede;
  max-width: 100%;
  border-collapse: separate;
  padding-top: 0.5em;
  padding-right: 0.625em;
  padding-bottom: 0.625em;
  padding-left: 0.625em; }

table.tableblock tr:nth-child(even) {
  background: #f8f8f7; }

table.grid-all th.tableblock,
table.grid-all td.tableblock {
  border-width: 0 1px 1px 0; }

table.grid-all tfoot > tr > th.tableblock,
table.grid-all tfoot > tr > td.tableblock {
  border-width: 1px 1px 0 0; }

table.grid-cols th.tableblock,
table.grid-cols td.tableblock {
  border-width: 0 1px 0 0; }

table.grid-all * > tr > .tableblock:last-child,
table.grid-cols * > tr > .tableblock:last-child {
  border-right-width: 0; }

table.grid-rows th.tableblock,
table.grid-rows td.tableblock {
  border-width: 0 0 1px 0; }

table.grid-all tbody > tr:last-child > th.tableblock,
table.grid-all tbody > tr:last-child > td.tableblock,
table.grid-all thead:last-child > tr > th.tableblock,
table.grid-rows tbody > tr:last-child > th.tableblock,
table.grid-rows tbody > tr:last-child > td.tableblock,
table.grid-rows thead:last-child > tr > th.tableblock {
  border-bottom-width: 0; }

table.grid-rows tfoot > tr > th.tableblock,
table.grid-rows tfoot > tr > td.tableblock {
  border-width: 1px 0 0 0; }

table.frame-all {
  border-width: 1px; }

table.frame-sides {
  border-width: 0 1px; }

table.frame-topbot {
  border-width: 1px 0; }

th.halign-left,
td.halign-left {
  text-align: left; }

th.halign-right,
td.halign-right {
  text-align: right; }

th.halign-center,
td.halign-center {
  text-align: center; }

th.valign-top,
td.valign-top {
  vertical-align: top; }

th.valign-bottom,
td.valign-bottom {
  vertical-align: bottom; }

th.valign-middle,
td.valign-middle {
  vertical-align: middle; }

table thead th,
table tfoot th {
  font-weight: bold;
  background: #f7f8f7; }

tbody tr th {
  display: table-cell;
  line-height: 1.6;
  background: #f7f8f7; }

tbody tr th, tbody tr th p,
tfoot tr th,
tfoot tr th p {
  color: inherit;
  font-weight: bold; }

p.tableblock > code:only-child {
  background: none;
  padding: 0; }

p.tableblock {
  font-size: 1em; }

td > div.verse {
  white-space: pre; }
