<!DOCTYPE html>
<html lang="en">
<head>
    {% comment %}<script async src="https://www.googletagmanager.com/gtag/js?id=G-JDKK326V39"></script>{% endcomment %}
    {% comment %}<script>{% endcomment %}
        {% comment %}window.dataLayer = window.dataLayer || [];{% endcomment %}
        {% comment %}function gtag(){dataLayer.push(arguments);}{% endcomment %}
        {% comment %}gtag('js', new Date());{% endcomment %}
{% comment %}{% endcomment %}
        {% comment %}gtag('config', 'G-JDKK326V39');{% endcomment %}
    {% comment %}</script>{% endcomment %}

    {% seo %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="{{ site.color }}">
    <title>{{ page.title }}</title>

    <!-- SEO tag doesn't support og:tag as far as I can tell, so DIY implementation -->
    {% if page and page.tags %}
        {% for tag in page.tags %}
            <meta name="article:tag" content="{{ tag }}"/>
            <meta name="og:article:tag" content="{{ tag }}"/>
        {% endfor %}
    {% endif %}

    <link rel="manifest" href="manifest.json">
    <link rel="stylesheet" href="{{ '/assets/styles/main.css' | relative_url }}?{{ "now" | date: "%s" }}" />

    <!-- Bootstrap CSS is now built and included via SCSS, see main.scss -->
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css"
    />
    {% comment %}<link{% endcomment %}
            {% comment %}rel="stylesheet"{% endcomment %}
            {% comment %}href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css"{% endcomment %}
    {% comment %}/>{% endcomment %}
    <script
            src="https://code.jquery.com/jquery-3.6.1.slim.min.js"
            crossorigin="anonymous"
            async
    ></script>
    <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
            crossorigin="anonymous"
            async
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
            integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
            crossorigin="anonymous"
            async
    ></script>

    <!-- Highlight JS (syntax highlighting) -->
    <link rel="stylesheet"
          href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/styles/default.min.css">
    <script
            src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/highlight.min.js"
            async
    ></script>
</head>
<body onload="hljs.highlightAll();">
    <div class="content">
        {% include navbar.include.html %}
        {{ content }}
        {% include apiman-footer.include.html %}
    </div>
    <script>
        window.onload = function () {
            var script = document.createElement('script');
            var firstScript = document.getElementsByTagName('script')[0];
            script.async = true;
            script.src = '{{'sw-register.js'|relative_url}}?v=' + Date.now();
            firstScript.parentNode.insertBefore(script, firstScript);
        };
    </script>
</body>
</html>
