<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="{{ site.color }}">

    <title>Apiman - {{ page.title }}</title>

    <link rel="manifest" href="/manifest.json">
    <link rel="apple-touch-icon" href="/assets/manifest/icon-192x192.png">
    <link rel="icon" type="image/png" href="/assets/manifest/icon-192x192.png">

    <!-- Open Sans font family -->
    <link rel="prefetch" href="/assets/styles/OpenSans.css" as="style">
    <link rel="stylesheet" href="/assets/styles/OpenSans.css">
    <link rel="stylesheet" href="{{ '/assets/styles/main.css' | relative_url }}?{{ "now" | date: "%s" }}" />

    <!-- Bootstrap CSS is now built and included via SCSS, see main.scss -->
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css"
    />
    <script
            src="https://code.jquery.com/jquery-3.6.1.slim.min.js"
            crossorigin="anonymous"
            async
    ></script>
    <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
            crossorigin="anonymous"
            async
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
            integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
            crossorigin="anonymous"
            defer
    ></script>

    <!-- Highlight JS (syntax highlighting) -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/styles/default.min.css">
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/highlight.min.js"
            defer
    ></script>

    {% seo %}

    <!-- SEO tag doesn't support og:tag as far as I can tell, so DIY implementation -->
    {% if page and page.tags %}
        {% for tag in page.tags %}
            <meta name="article:tag" content="{{ tag }}"/>
            <meta name="og:article:tag" content="{{ tag }}"/>
        {% endfor %}
    {% endif %}

    <!-- Google verification gubbins -->
    <meta name="google-site-verification" content="_ILllw-J_4eyz0StWadyFz0021teANtSNJsDeN9waPE" />
</head>
<body onload="hljs.highlightAll();">
    <div class="content">
        {% include navbar.include.html %}
        {{ content }}
        {% include apiman-footer.include.html %}
    </div>
    <script>
        window.onload = function () {
            var script = document.createElement('script');
            var firstScript = document.getElementsByTagName('script')[0];
            script.async = true;
            script.src = '{{'sw-register.js'|relative_url}}?v=' + Date.now();
            firstScript.parentNode.insertBefore(script, firstScript);
        };
    </script>
    <script async src="https://www.googletagmanager.com/gtag/js?id="></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-TRD82LC9Y2');
    </script>
</body>
</html>
