---
layout: base
---

<div class="mx-auto mw-1200 container-fluid my-4">
    <div class="row">
        <!-- Paginated blog list -->
        <main class="col-12 col-md-9">
            <!-- Does anyone even use RSS/Atom any more? -->
            <div class="d-flex justify-content-end">
                <a class="pb-0 mb-0" href="{{ '/blog/feed.xml' | prepend: site.baseurl }}">
                    <i class="bi bi-rss-fill"></i> Subscribe via RSS
                </a>
            </div>
            <h1>The latest from the Apiman Blog</h1>
            <p>
                The Apiman blog presents the latest Apiman release news and insights.
                We also share relevant API and software engineering content that we think you will find interesting.
            </p>
            {% for blog in paginator.posts %}
                {% assign author = site.data.authors[blog.author] %}
                <!-- Blog card start -->
                <div class="card mb-4">
                    <div class="card-body no-padding-last-para d-flex flex-column pb-0" onclick="window.location.href='{{ blog.url }}'" tabindex=0>
                        <a href="{{ blog.url }}" class="header-link">
                            <h2 class="card-title h5">{{ blog.title }}</h2>
                        </a>
                        <div class="card-text flex-grow-1 pt-2">
                            {{ blog.excerpt | remove: '<p></p>' }}
                        </div>
                    </div>
                    <div class="small text-muted text-end px-2 pb-1">
                        <i class="bi bi-tags-fill text-secondary"></i> {{ blog.tags | join: ', ' }}
                    </div>
                    <div class="align-items-center card-footer d-flex justify-content-between small">
                        <a target="_blank" rel="noopener" href="{{ author.url }}" class="align-items-center d-flex text-dark text-decoration-none">
                            <img src="{{ author.picture }}" class="me-2 rounded-circle" width="40" height="40" alt="Avatar for {{ author.name }}"/>
                            <div>
                                <h3 class="h6 mb-0">{{ author.name }}</h3>
                                <time class="mb-0 text-secondary">{{ blog.date | date_to_long_string }}</time>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- Blog card end -->
            {% endfor %}

            {% if paginator.total_pages > 1 %}
                <div class="d-flex flex-row justify-content-evenly">
                    {% if paginator.previous_page %}
                        <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}"
                           class="btn btn-primary"
                           aria-label="View newer blog posts">
                            <i class="bi bi-chevron-left" role="presentation"></i>  Newer Posts
                        </a>
                    {% endif %}
                    {% if paginator.next_page %}
                        <a href="{{ paginator.next_page_path | prepend: site.baseurl }}"
                           class="btn btn-primary"
                           aria-label="View older blog posts">
                            Older Posts <i class="bi bi-chevron-right" role="presentation"></i>
                        </a>
                    {% endif %}
                </div>
            {% endif %}
        </main>
        <!-- Blog tags -->
        <aside class="col-12 col-md-3">
            <h2 class="apiman-title-secondary">Tags</h2>
            <ol class="tag-list">
                {% assign sortedTags = site.tags | sort %}
                {% for tag in sortedTags %}
                    <li>
                        <!-- [0] element is the tag's name, otherwise we'll get a load of other crap as well -->
                        {% capture tagPath %}{{ site.baseurl }}/blog/tag/{{ tag[0] | downcase | replace: '.', '-' }}{% endcapture %}
                        <a class="subtle-underline" href="{{ tagPath }}">{{ tag[0] }}</a>
                    </li>
                {% endfor %}
            </ol>
        </aside>
    </div>
</div>
