---
layout: base
---

<div class="mx-auto mw-1200 container-fluid my-4">
    <div class="row">
        <!-- Paginated blog list -->
        <main class="col-12 col-md-9">
            <!-- Does anyone even use RSS/Atom any more? -->
            <h1>The latest from the Apiman Blog</h1>
            <p>
                The Apiman blog presents the latest Apiman release news and insights.
                We also share relevant API and software engineering content that we think you will find interesting.
            </p>
            {% for post in paginator.posts %}
                {% assign postAuthor = site.data.authors[post.author] %}
                {% include blog/blog-listing-card.html blog=post author=postAuthor %}
            {% endfor %}

            {% if paginator.total_pages > 1 %}
                <div class="d-flex flex-row justify-content-evenly">
                    {% if paginator.previous_page %}
                        <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}"
                           class="btn btn-primary"
                           aria-label="View newer blog posts">
                            <i class="bi bi-chevron-left" role="presentation"></i>  Newer Posts
                        </a>
                    {% endif %}
                    {% if paginator.next_page %}
                        <a href="{{ paginator.next_page_path | prepend: site.baseurl }}"
                           class="btn btn-primary"
                           aria-label="View older blog posts">
                            Older Posts <i class="bi bi-chevron-right" role="presentation"></i>
                        </a>
                    {% endif %}
                </div>
            {% endif %}
        </main>
        <!-- Blog tags -->
        <aside class="col-12 col-md-3">
            <div class="btn mb-2 p-1 border border-2 rounded-2">
                <a class="text-decoration-none" href="{{ '/blog/feed.xml' | prepend: site.baseurl }}">
                    <i class="bi bi-rss-fill text-muted-red"></i> Subscribe via RSS
                </a>
            </div>
            <h2 class="apiman-title-secondary">Tags</h2>
            <ol class="tag-list">
                {% assign sortedTags = site.tags | sort %}
                {% for tag in sortedTags %}
                    <li>
                        <!-- [0] element is the tag's name, otherwise we'll get a load of other crap as well -->
                        {% capture tagPath %}{{ site.baseurl }}/blog/tag/{{ tag[0] | downcase | replace: '.', '-' }}{% endcapture %}
                        <a class="subtle-underline" href="{{ tagPath }}">{{ tag[0] }}</a>
                    </li>
                {% endfor %}
            </ol>
        </aside>
    </div>
</div>
