---
layout: simple
maxWidth: mw-1200
---

<main>
  <h1>Community</h1>
  <p>
    Apiman is an open source project, it only survives because of the contributions of the companies and individuals that continue its development.
    Whether you want to contribute by working with the project's developers, or by making your own contributions, we value your involvement.
  </p>
  <section>
    <h2 class="apiman-title-secondary">Project History</h2>
    <p>
      {{ content }}
    </p>
  </section>
  <section>
    {% include community/mini-community.include.html %}
  </section>
</main>
