---
layout: base
---

<main class="mw-1350 mx-auto row my-4">

    <div class="col-lg-2 d-lg-block d-none">
        <div class="sticky-top">
            <!-- Generic sidebar with GH, Twitter, etc -->
            {% include sidebar.include.html %}
        </div>
    </div>
    <div class="col-lg-10 col-sm-12">
        <div class="card">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs" id="download-tabset" role="tablist">
                    <!-- Tab ID must have a corresponding `include` file in `_includes/download` -->
                    {% for tab in site.data.download.tabs %}
                        <!-- Set first tab as active by default -->
                        {% if forloop.first %}
                            {% assign defaultActive = 'active' %}
                        {% else %}
                            {% assign defaultActive = '' %}
                        {% endif %}
                        <li class="nav-item" role="presentation">
                            <button type="button"
                                    id="{{ tab.id }}-tab"
                                    data-bs-toggle="tab"
                                    data-bs-target="#{{ tab.id }}-pane"
                                    role="tab"
                                    class="nav-link {{ defaultActive }}">
                                {{ tab.name }}
                            </button>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="tab-content card-body">
                <!-- See _includes/download -- files are included by name pattern -->
                {% for tab in site.data.download.tabs %}
                    {% include download/{{ tab.id }}.include.html %}
                {% endfor %}
            </div>
        </div>
    </div>
</main>
