---
layout: base
title: Open Source API Management
---

<main class="mw-1200 mx-auto row my-4">

    <div class="col-lg-2 d-lg-block d-none">
        <div class="sticky-top">
            <!-- Feature group titles -->
            <div class="list-group justify-content-center" id="feature-titles-sidebar">
                {% for featGroup in site.data.features %}
                    <a href="#{{ featGroup.id }}" class="list-group-item list-group-item-action">{{ featGroup.title }}</a>
                {% endfor %}
            </div>
            <!-- Features legend -->
            {% include feature-legend.include.html %}
            <!-- Generic sidebar with GH, Twitter, etc -->
            <div class="mt-3">
                {% include sidebar.include.html %}
            </div>
        </div>
    </div>

    <div class="col-lg-10 col-sm-12">
        <section class="mb-4">
            <h1>Apiman Features</h1>
            <p>A non-exhaustive list of Apiman's features. Most of Apiman's functionality is customisable, and you can write your own plugins to provide functionality
                that is not available out of the box. The Apiman team and community have also created a wide range of plugins that you can use.</p>

            <!-- Features legend when below 'large' size is inlined -->
            <div class="d-lg-none">
                {% include feature-legend.include.html %}
            </div>
        </section>

        {% for featGroup in site.data.features %}
            <section class="mb-3 feature-section" id="{{ featGroup.id }}">
                <h2>{{ featGroup.title }}</h2>
                <!-- Feature group intro, if there is one -->
                {% if featGroup.intro %}
                    <p>{{ featGroup.intro }}</p>
                {% endif %}
                <!-- Feature table -->
                <div class="feat-table">
                    {% for feature in featGroup.features %}
                        <div class="feat-row row py-2">
                            <!-- Feat title -->
                            <div class="col-sm-3 text-center text-sm-start fw-semibold" id="{{ feature.title | replace: ' ', '-' | downcase }}">{{ feature.title }}</div>
                            <!-- Feat icon -->
                            <div class="col-sm-1 text-center">
                                <svg height="20" width="20">
                                    <use href="#{{ feature.icon }}"/>
                                </svg>
                            </div>
                            <!-- Feat description -->
                            <div class="col-sm-8 feature-content">
                                {{ feature.description }}
                                <!-- Ticket reference, if defined -->
                                {% if feature.ticket %}
                                    <p><a href="{{ feature.ticket }}" target="_blank">Please provide your ideas and feedback in this feature request.</a></p>
                                {% endif %}
                                <!-- Request feature, if unsupported -->
                                {% if feature.icon == 'unsupported' %}
                                    <p>If you would like this feature adding, <a href="https://github.com/apiman/apiman/issues/new?assignees=&labels=T%3A+Feature+Request%2CS%3A+Triage&template=feature_request.yml" target="_blank">please open a feature request ticket</a>.</p>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </section>
            <!-- 3 stars separator -->
            <hr class="section-separator mt-4">
        {% endfor %}
    </div>
</main>

<!-- SVGs for our visuals/checkboxes. Hidden by default and referenced using <use href>. -->
<svg style="display:none;">
    <defs>
        <symbol id="full" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="green" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
            <title>Feature supported</title>
            <desc>The feature is fully supported by Apiman.</desc>
            <circle cx="8" cy="8" r="8"/>
        </symbol>

        <symbol id="partial" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="green" class="bi bi-circle-half" viewBox="0 0 16 16">
            <title>Feature partially supported</title>
            <desc>There is partial support for this feature in Apiman.</desc>
            <path d="M8 15A7 7 0 1 0 8 1v14zm0 1A8 8 0 1 1 8 0a8 8 0 0 1 0 16z"/>
        </symbol>

        <symbol id="roadmap" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="blue" class="bi bi-circle" viewBox="0 0 16 16">
            <title>Feature unsupported</title>
            <desc>There is currently no support for this feature in Apiman.</desc>
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0ZM5.5 4.002V12h1.335V8.924H8.52L9.98 12h1.52L9.856 8.701c.828-.299 1.495-1.101 1.495-2.238 0-1.488-1.03-2.461-2.74-2.461H5.5Zm1.335 1.09v2.777h1.549c.995 0 1.573-.463 1.573-1.36 0-.913-.596-1.417-1.537-1.417H6.835Z"/>
        </symbol>

        <symbol id="unsupported" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="black" class="bi bi-circle" viewBox="0 0 16 16">
            <title>Feature unsupported</title>
            <desc>There is currently no support for this feature in Apiman.</desc>
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
        </symbol>
    </defs>
</svg>
